body {
  margin: 0;
  background-color: rgb(32, 32, 35);
  color: #fff;
  font-family: "Space Mono", monospace;
  padding: 10px;
}

p {
  padding: 0;
  margin: 0;
}

main {
  width: 700px;
  margin: 0 auto;
}

body.dark {
  background-color: rgb(255, 255, 255);
  color: #292828;
}

nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  cursor: pointer;
  color: #d2d7df;
}

.nav-txt {
  padding-top: 10px;
  margin: 0;
}

.logo {
  height: 50px;
  margin-left: 20px;
}

.profile-pic {
  margin-top: 50px;
  height: 100px;
}

.mode-btn {
  height: 50px;
  width: 50px;
  background-color: #f1a208;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.mode-btn:hover {
  color: #d2d7df;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  padding-top: 50px;
  font-size: 1.8rem;
}

.job {
  padding: 0;
  margin: 0;
}

.bio-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bio-title {
  margin: 0;
  margin-top: 20px;
  align-self: flex-start;
  border-bottom: #d2d7df 4px solid;
}

.Year {
  font-weight: bold;
  padding-right: 30px;
}

.bio-txt {
  margin: 10px;
}

.bio-txt a {
  text-decoration: none;
  color: #42d13d;
  cursor: pointer;
}

.work-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.work-title {
  margin: 0;
  margin-top: 20px;
  align-self: flex-start;
  border-bottom: #d2d7df 4px solid;
}

.work-txt {
  margin: 10px;
}

.portfolio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 34px;
  width: 200px;
  background-color: #39a835;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #ffff;
  margin-top: 25px;
  text-decoration: none;
}

.portfolio-btn:hover {
  background-color: #3dc438;
  color: #d2d7df;
}

.socials-container {
  display: flex;
  flex-direction: column;
}

.socials-title {
  margin: 0;
  margin-top: 20px;
  align-self: flex-start;
  border-bottom: #d2d7df 4px solid;
}

.socials-txt {
  color: #39a835;
  padding: 10px;
}

.socials-txt a {
  text-decoration: none;
  color: #39a835;
}

.socials-txt a:hover {
  text-decoration: none;
  color: #42d13d;
  opacity: 0.5;
}

.icon {
  padding-right: 10px;
}

.hobbys-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.hobbys-tittle {
  margin: 0;
  margin-top: 20px;
  align-self: flex-start;
  border-bottom: #d2d7df 4px solid;
}

.hobbys-txt {
  margin-top: 10px;
  word-spacing: 5px;
}

.fotter {
  margin-top: 50px;
  color: #d2d7df;
  font-size: 0.85rem;
  text-align: center;
}

.Previewcard-container {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 35px;
}

.previewtext-container {
  background: #313134;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 6px;
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  margin-top: 25px;
  width: 225px;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  justify-content: center;
  border-radius: 2.5px;
}

.card-image {
  height: 130px;
  width: 230px;
  border-radius: 5px;
}

.card .title {
  font-size: 1.2rem;
}

.description {
  font-size: 0.85rem;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.project-title {
  margin: 0;
  margin-top: 20px;
  align-self: flex-start;
  border-bottom: #d2d7df 4px solid;
}

.skills-container {
  margin-top: 25px;
}

.img-container {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 1fr;
  grid-template-areas:
    ". html css js"
    "text   .   .  ."
    ". react python django ";
}
.skills-tittle-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.skills-tittle {
  margin: 0;
  margin-top: 20px;
  align-self: flex-start;
  border-bottom: #d2d7df 4px solid;
}

.skills-text {
  padding-top: 120px;
  align-items: center;
  justify-content: center;
  grid-area: text;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.html-img {
  grid-area: html;
  width: 150px;
  height: 150px;
}

.css-img {
  grid-area: css;
  width: 150px;
  height: 150px;
}

.js-img {
  grid-area: js;
  width: 150px;
  height: 150px;
}

.react-img {
  grid-area: react;
  width: 150px;
  height: 150px;
}

.python-img {
  grid-area: python;
  width: 150px;
}

.django-img {
  grid-area: django;
  width: 150px;
}

.movieverse-container {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.technologies-highlight {
  color: #39a835;
}

.movieverse-description {
  margin: 15px 0;
}

.movieverse-links {
  word-spacing: 15px;
}

.movieverse-links a {
  color: #39a835;
}

.movieverse-img {
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
}

.Notejet-container {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.Notejet-description {
  margin: 15px 0;
}

.Notejete-links {
  word-spacing: 15px;
}

.Notejet-links a {
  color: #39a835;
}

.Notejet-img {
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
}

.home-preview {
  width: 800px;
}

.blog-title {
  font-size: medium;
  text-decoration: none;
}

.item {
  min-width: 6rem;
  padding: 15px;
}

.item img {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100px;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5em auto;
  width: 600px;
}

.headerPicture {
  border-radius: 5px;
  max-width: 600px;
  max-height: 400px;
  margin: 0 auto;
}

.blog-title {
  font-size: 1.5rem;
  margin: 5px 0;
}

.datePublished {
  font-size: 0.8rem;
  margin: 10px 0;
}

.short-description {
  margin-bottom: 5px;
  border-bottom: #313134 1px solid;
}

.short-description img {
  max-width: 600px;
}

.short-description a {
  text-decoration: none;
  color: #39a835;
}

.blog-heading {
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}

.about-blog {
  font-size: 1rem;
  text-align: center;
}
